{{#if is_admin}}
<h2>Records</h2>
<table class="table table-hover table-bordered results">
  <thead>
    <tr>
      <th class="col-md-1 col-xs-1">Name</th>
      <th class="col-md-3 col-xs-3">Question</th>
      <th class="col-md-3 col-xs-3">Answer</th>
    </tr>
  </thead>
  <tbody>
      {{#records}}
    <tr>
      <td>{{name}}</td>
      <td>{{question}}</td>
      <td>{{answer}}</td>
    </tr>
      {{/records}}
  </tbody>
</table>
{{else}}
<h2>My Record</h2>
<a href="/answer/edit/{{answers_id}}">edit</a>
<table class="table table-hover table-bordered results">
  <thead>
    <tr>
      <th class="col-md-3 col-xs-3">Question</th>
      <th class="col-md-3 col-xs-3">Answer</th>
    </tr>
  </thead>
  <tbody>
      {{#record}}
    <tr>
      <td>{{question}}</td>
      <td>{{answer}}</td>
    </tr>
      {{/record}}
  </tbody>
</table>
{{/if}}
